
<div *ngIf="categorie">
    <h2><span jhiTranslate="ambassadeApp.categorie.detail.title">Categorie</span> {{categorie.id}}</h2>
    <div class="title-bullet"><span></span></div>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dt><label jhiTranslate="ambassadeApp.categorie.nomCategorie">Nom Categorie</label></dt>
                        <span>{{categorie.nomCategorie}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info btn-xs plat">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'categorie/'+ categorie.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-blue btn-xs plat pull-right">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
