<div id="content" #content>
    <h2>
        <span jhiTranslate="ambassadeApp.categorie.home.title">Categories</span>
        <button class="btn btn-primary float-right jh-create-entity create-categorie" [routerLink]="['/', { outlets: { popup: ['categorie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ambassadeApp.categorie.home.createLabel">
            Create new Categorie
            </span>
        </button>&nbsp;
        <button (click)="exportToExcel()" class="btn btn-warning">Export to excel</button>&nbsp;
        <!--<button (click)="downloadPDF()" class="btn btn-info">Export to PDF</button>-->
        <button (click)="printPage()" type="submit" [routerLink]="['../print']"
                class="btn btn-info">Export to PDF</button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div>
        <jhi-categorie-search-dialog></jhi-categorie-search-dialog>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categories">
        <table id="default-table" class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nomCategorie"><span jhiTranslate="ambassadeApp.categorie.nomCategorie">Nom Categorie</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categorie of categories ;trackBy: trackId">
                <td><a [routerLink]="['../categorie', categorie.id ]">{{categorie.id}}</a></td>
                <td>{{categorie.nomCategorie}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../categorie', categorie.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'categorie/'+ categorie.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'categorie/'+ categorie.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categories && categories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
