<div>
    <h2>
        <span jhiTranslate="ambassadeApp.paiement.home.title">Paiements</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-paiement" [routerLink]="['/', { outlets: { popup: ['paiement-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span  jhiTranslate="ambassadeApp.paiement.home.createLabel">-->
            <!--Create new Paiement-->
            <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
        <jhi-paiement-search></jhi-paiement-search>
    <br/>
    <div class="table-responsive" *ngIf="paiements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="datePaiement"><span jhiTranslate="ambassadeApp.paiement.datePaiement">Date Paiement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numeroPaiement"><span jhiTranslate="ambassadeApp.paiement.numeroPaiement">Numero Paiement</span> <span class="fa fa-sort"></span></th>
           <th jhiSortBy="typeService.id"><span jhiTranslate="ambassadeApp.paiement.typeService">Type Service</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uniteOrganisationelle.id"><span jhiTranslate="ambassadeApp.paiement.uniteOrganisationelle">Unite Organisationelle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdBy.login"><span jhiTranslate="ambassadeApp.paiement.createdBy">Created By</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paiement of paiements ;trackBy: trackId">
                <td>{{paiement.datePaiement | date:'mediumDate'}}</td>
                <td>{{paiement.numeroPaiement}}</td>
                <td>
                    <div *ngIf="paiement.typeService">
                        <a [routerLink]="['../type-service', paiement.typeService?.id ]" >{{paiement.typeService?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paiement.uniteOrganisationelle">
                        <a [routerLink]="['../unite-organisationelle', paiement.uniteOrganisationelle?.id ]" >{{paiement.uniteOrganisationelle?.libelle}}</a>
                    </div>
                </td>
                <td>
                    {{paiement.createdBy?.lastName}} {{paiement.createdBy?.firstName}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../paiement', paiement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/edit'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<span class="fa fa-pencil"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<span class="fa fa-remove"></span>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paiements && paiements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
