
<div *ngIf="paiement">
    <h2><span jhiTranslate="ambassadeApp.paiement.detail.title">Paiement</span> {{paiement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ambassadeApp.paiement.datePaiement">Date Paiement</span></dt>
        <dd>
            <span>{{paiement.datePaiement | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.numeroPaiement">Numero Paiement</span></dt>
        <dd>
            <span>{{paiement.numeroPaiement}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.dateCreation">Date Creation</span></dt>
        <dd>
            <span>{{paiement.dateCreation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.dateModification">Date Modification</span></dt>
        <dd>
            <span>{{paiement.dateModification | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.visa">Visa</span></dt>
        <dd>
            <div *ngIf="paiement.visa">
                <a [routerLink]="['/visa', paiement.visa?.id]">{{paiement.visa?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.passeport">Passeport</span></dt>
        <dd>
            <div *ngIf="paiement.passeport">
                <a [routerLink]="['/passeport', paiement.passeport?.id]">{{paiement.passeport?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.typeService">Type Service</span></dt>
        <dd>
            <div *ngIf="paiement.typeService">
                <a [routerLink]="['/type-service', paiement.typeService?.id]">{{paiement.typeService?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.user">User</span></dt>
        <dd>
            {{paiement.user?.id}}
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.uniteOrganisationelle">Unite Organisationelle</span></dt>
        <dd>
            <div *ngIf="paiement.uniteOrganisationelle">
                <a [routerLink]="['/unite-organisationelle', paiement.uniteOrganisationelle?.id]">{{paiement.uniteOrganisationelle?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.createdBy">Created By</span></dt>
        <dd>
            {{paiement.createdBy?.login}}
        </dd>
        <dt><span jhiTranslate="ambassadeApp.paiement.modifiedBy">Modified By</span></dt>
        <dd>
            {{paiement.modifiedBy?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
