<form name="searchForm" role="form" novalidate (ngSubmit)="search()" #searchForm="ngForm">

    <!--<div class="modal-body">-->

    <div class="card">
        <div class="card-body plat">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.paiement.datePaiement" for="field_datePaiement">Date Paiement</label>
                        <div class="input-group">
                            <input id="field_datePaiement" type="text" class="form-control" name="datePaiement"
                                   ngbDatepicker  #datePaiementDp="ngbDatepicker" [(ngModel)]="formModel.datePaiement"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="datePaiementDp.toggle()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.paiement.typeService" for="field_typeService">Type Service</label>
                        <select class="form-control" id="field_typeService" name="typeService" [(ngModel)]="formModel.typeService" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="typeServiceOption.id === formModel.typeService?.id ? formModel.typeService : typeServiceOption.id"
                                    *ngFor="let typeServiceOption of typeservices; trackBy: trackTypeServiceById">{{typeServiceOption.nom}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3 pull-right">
                <!--<div class="modal-footer">-->
                <button (click)="resetSearch()" class="btn btn-sm btn-danger">
                    <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>&nbsp;
                <button type="submit" (click)="search()" class="btn btn-sm btn-blue">
                    <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Search</span>
                </button>
            </div>
        </div>
    </div>


    <!--</div>-->
</form>
