
<div *ngIf="produit">
    <h2><span jhiTranslate="ambassadeApp.produit.detail.title">Produit</span> {{produit.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ambassadeApp.produit.nomProduit">Nom Produit</span></dt>
        <dd>
            <span>{{produit.nomProduit}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.produit.monnaie">Monnaie</span></dt>
        <dd>
            <span>{{produit.monnaie}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.produit.montant">Montant</span></dt>
        <dd>
            <span>{{produit.montant}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
