<div class="card" style="border-bottom: none!important;">
    <div class="card-body card-sm">
        <h5 class="text-uppercase">
            <span class="text-uppercase" jhiTranslate="ambassadeApp.produit.home.title">Produits</span>
            <button class="btn btn-primary btn-xs float-right jh-create-entity create-produit" [routerLink]="['/', { outlets: { popup: ['produit-new'] } }]">
                <span class="fa fa-pencil-square-o"></span>
                <span  jhiTranslate="ambassadeApp.produit.home.createLabel">Create new Produit</span>
            </button>&nbsp;
            <button *jhiHasAnyAuthority="['ROLE_PRODUIT_MANAGER']"  (click)="printPage()" type="submit" [routerLink]="['../print']"
                    class="btn btn-info float-right mr-5 btn-xs">
                <span class="fa fa-print"></span>
                <span>Imprimer</span>
            </button>
        </h5>
    </div>
</div>

<jhi-alert></jhi-alert>
<div>
    <jhi-produit-search></jhi-produit-search>
</div>
<br/>
<div *ngIf="produits">
    <table class="table table-hover bg-white dash-row table-sm">
        <thead class="bg-table-light">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                <th jhiSortBy="nomProduit"><span jhiTranslate="ambassadeApp.produit.nomProduit">Nom Produit</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="monnaie"><span jhiTranslate="ambassadeApp.produit.monnaie">Monnaie</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="montant"><span jhiTranslate="ambassadeApp.produit.montant">Montant</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-sm">
            <tr *ngFor="let produit of produits ;trackBy: trackId">
                <!-- <td><a [routerLink]="['../produit', produit.id ]">{{produit.id}}</a></td> -->
                <td>{{produit.nomProduit}}</td>
                <td>{{produit.monnaie}}</td>
                <td>{{produit.montant}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../produit', produit.id ]"
                                class="btn btn-primary btn-xs plat">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-xs plat">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-xs plat">
                            <span class="fa fa-trash"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row" *ngIf="produits && produits.length">
    <div class="col-md-6">
        <div class="text-sm">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pagination-sm pull-right">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
