
<div *ngIf="produit">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-uppercase"><span jhiTranslate="ambassadeApp.produit.detail.title">Produit</span> {{produit.id}}</h5>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="title-bullet"><span></span></div>

    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label jhiTranslate="ambassadeApp.produit.nomProduit">Nom Produit</label> : &nbsp;
                        <span>{{produit.nomProduit}}</span>
                    </div>
                    <div class="col-md-4">
                        <label jhiTranslate="ambassadeApp.produit.monnaie">Monnaie</label> : &nbsp;
                        <span>{{produit.monnaie}}</span>
                    </div>
                    <div class="col-md-4">
                        <label jhiTranslate="ambassadeApp.produit.montant">Montant</label> : &nbsp;
                        <span>{{produit.montant}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info btn-xs">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-blue pull-right btn-xs">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
