<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProduitLabel" jhiTranslate="ambassadeApp.produit.home.createOrEditLabel">Create or edit a Produit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!produit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="produit.id" readonly />
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.produit.nomProduit" for="field_nomProduit">Nom Produit</label>
                    <input type="text" class="form-control" name="nomProduit" id="field_nomProduit"
                           [(ngModel)]="produit.nomProduit" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.nomProduit?.dirty && editForm.controls.nomProduit?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.nomProduit?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.produit.monnaie" for="field_monnaie">Monnaie</label>
                    <input type="text" class="form-control" name="monnaie" id="field_monnaie"
                           [(ngModel)]="produit.monnaie" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.monnaie?.dirty && editForm.controls.monnaie?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.monnaie?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.produit.montant" for="field_montant">Montant</label>
                    <input type="number" class="form-control" name="montant" id="field_montant"
                           [(ngModel)]="produit.montant" min="0"/>
                    <div [hidden]="!(editForm.controls.montant?.dirty && editForm.controls.montant?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.montant?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.montant?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
