<form name="searchForm" role="form" novalidate (ngSubmit)="search()" #searchForm="ngForm">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.montant.monnaie" for="field_monnaie">Monnaie</label>
                        <input type="text" class="form-control form-control-sm" name="monnaie" id="field_monnaie"
                               [(ngModel)]="formModel.monnaie" maxlength="50"/>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.montant.montant" for="field_montant">Montant</label>
                        <input type="number" class="form-control form-control-sm" name="montant" id="field_montant" #montant="ngModel"
                               [(ngModel)]="formModel.montant" min="0"/>
                        <div [hidden]="!(montant?.dirty && montant?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!montant?.errors?.number" jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.montant.produit" for="field_produit">Produit</label>
                        <input type="text" class="form-control form-control-sm" name="produit" id="field_produit"
                               [(ngModel)]="formModel.produit" maxlength="40"/>
                    </div>
                </div>
                <div class="col-12 col-sm-3 align-self-end">
                    <div class="form-group pull-right">
                        <button type="reset" class="btn btn-xs plat btn-danger" (click)="search()">
                            <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" [disabled]="searchForm.invalid" class="btn btn-primary btn-xs plat">
                            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
