
<div *ngIf="passeport">
    <h2><span jhiTranslate="ambassadeApp.passeport.detail.title">Passeport</span> {{passeport.id}}</h2>
    <div class="title-bullet"><span></span></div>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card">
            <div class="card-body plat">
                <div class="row">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.numeroFormulaire">Numero Formulaire</label> : &nbsp;
                        <span>{{passeport.numeroFormulaire}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.nom">Nom</label> : &nbsp;
                        <span>{{passeport.nom}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.prenom">Prenom</label> : &nbsp;
                        <span>{{passeport.prenom}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.numeroPasseport">Numero Passeport</label> : &nbsp;
                        <span>{{passeport.numeroPasseport}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.neLe">Ne Le</label> : &nbsp;
                        <span>{{passeport.neLe}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.lieuNaissance">Lieu Naissance</label> : &nbsp;
                        <span>{{passeport.lieuNaissance}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.etatCivil">Etat Civil</label> : &nbsp;
                        <span jhiTranslate="{{'ambassadeApp.Statut.' + passeport.etatCivil}}">{{passeport.etatCivil}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.adresse">Adresse</label> : &nbsp;
                        <span>{{passeport.adresse}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.telephone">Telephone</label> : &nbsp;
                        <span>{{passeport.telephone}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.nif">Nif</label> : &nbsp;
                        <span>{{passeport.nif}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.paysEmetteur">Pays Emetteur</label> : &nbsp;
                        <span>{{passeport.paysEmetteur}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.soumisLe">Soumis Le</label> : &nbsp;
                        <span>{{passeport.soumisLe | date:'mediumDate'}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.delivreLe">Delivre Le</label> : &nbsp;
                        <span>{{passeport.delivreLe | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.montant">Montant</label> : &nbsp;
                        <span>{{passeport.montant}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.remarques">Remarques</label> : &nbsp;
                        <span>{{passeport.remarques}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.dateEmission">Date Emission</label> : &nbsp;
                        <span>{{passeport.dateEmission | date:'mediumDate'}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.dateExpiration">Date Expiration</label> : &nbsp;
                        <span>{{passeport.dateExpiration | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.remarquesR">Remarques R</label> : &nbsp;
                        <span>{{passeport.remarquesR}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.sms">Sms</label> : &nbsp;
                        <span>{{passeport.sms}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.sms2">Sms 2</label> : &nbsp;
                        <span>{{passeport.sms2}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.passeport.documents">Documents</label> : &nbsp;
                        <span>{{passeport.documents}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary btn-sm">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'passeport/'+ passeport.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-blue btn-sm pull-right">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
