<form name="searchForm" role="form" novalidate (ngSubmit)="search()" #searchForm="ngForm">

    <div class="card">
        <div class="card-body plat">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.nom"
                               for="field_nom">Nom</label>
                        <input type="text" class="form-control" name="nom" id="field_nom"
                               [(ngModel)]="formModel.nom" maxlength="30"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.prenom"
                               for="field_prenom">Prenom</label>
                        <input type="text" class="form-control" name="prenom" id="field_prenom"
                               [(ngModel)]="formModel.prenom" maxlength="40"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.etatCivil"
                               for="field_etatCivil">Etat Civil</label>
                        <select class="form-control" name="etatCivil" [(ngModel)]="formModel.etatCivil"
                                id="field_etatCivil">
                            <option value="CELIBATAIRE">{{'ambassadeApp.Statut.CELIBATAIRE' | translate}}</option>
                            <option value="MARIE">{{'ambassadeApp.Statut.MARIE' | translate}}</option>
                            <option value="DIVORCE">{{'ambassadeApp.Statut.DIVORCE' | translate}}</option>
                            <option value="SEPARE">{{'ambassadeApp.Statut.SEPARE' | translate}}</option>
                            <option value="VEUF">{{'ambassadeApp.Statut.VEUF' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.adresse"
                               for="field_adresse">Adresse</label>
                        <input type="text" class="form-control" name="adresse" id="field_adresse"
                               [(ngModel)]="formModel.adresse"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.delivreLeSearch"
                               for="field_delivreLe">Delivre Le</label>
                        <div class="input-group">
                            <input id="field_delivreLe" type="text" class="form-control" name="delivreLe" ngbDatepicker
                                   #delivreLeDp="ngbDatepicker" [(ngModel)]="formModel.delivreLe"
                            />
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="delivreLeDp.toggle()"><i
                                        class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="global.messages.and" for="field_delivreLeFin">Delivre
                            Le</label>
                        <div class="input-group">
                            <input id="field_delivreLeFin" type="text" class="form-control" name="delivreLeFin"
                                   ngbDatepicker #delivreLeFinDp="ngbDatepicker" [(ngModel)]="formModel.delivreLeFin"
                            />
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="delivreLeFinDp.toggle()"><i
                                        class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.dateExpirationSearch"
                               for="field_dateExpiration">Date Expiration</label>
                        <div class="input-group">
                            <input id="field_dateExpiration" type="text" class="form-control" name="dateExpiration"
                                   ngbDatepicker #dateExpirationDp="ngbDatepicker"
                                   [(ngModel)]="formModel.dateExpiration"
                            />
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateExpirationDp.toggle()"><i
                                        class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="global.messages.and"
                               for="field_dateExpirationFin">Date Expiration</label>
                        <div class="input-group">
                            <input id="field_dateExpirationFin" type="text" class="form-control"
                                   name="dateExpirationFin" ngbDatepicker #dateExpirationFinDp="ngbDatepicker"
                                   [(ngModel)]="formModel.dateExpirationFin"
                            />
                            <span class="input-group-append">
                                    <button type="button" class="btn btn-secondary" (click)="dateExpirationFinDp.toggle()"><i
                                        class="fa fa-calendar"></i></button>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.paysEmetteur"
                               for="field_paysEmetteur">Pays Emetteur</label>
                        <input type="text" class="form-control" name="paysEmetteur" id="field_paysEmetteur"
                               [(ngModel)]="formModel.paysEmetteur" maxlength="25"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.numeroPasseport"
                               for="field_numeroPasseport">Numero Passeport</label>
                        <input type="text" class="form-control" name="numeroPasseport" id="field_numeroPasseport"
                               [(ngModel)]="formModel.numeroPasseport" maxlength="15"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.recu"
                               for="field_recu">recu</label>
                        <input type="text" class="form-control" name="numeroPasseport" id="field_recu"
                               [(ngModel)]="formModel.recu"/>
                    </div>
                </div>
            </div>

            <div class="row">
            </div>

            <div class="row">
            </div>
            <div class="mt-3 mb-3 pull-right">
                <button (click)="resetSearch()" class="btn btn-sm btn-danger">
                    <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>&nbsp;
                <button type="submit" (click)="search()" class="btn btn-sm btn-blue">
                    <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Search</span>
                </button>
            </div>
        </div>
    </div>
</form>
