
<div *ngIf="passeport">
    <div *ngIf="passeport">
        <div class="card" style="border-bottom: none!important;">
            <div class="card-body card-sm">
                <h5 class="text-uppercase">
                    <span jhiTranslate="ambassadeApp.passeport.detail.title">Passeport</span> {{passeport.id}}
                    <button (click)="printPage()" class="btn btn-info btn-xs float-right">
                        <span class="fa fa-print"></span>&nbsp;
                        <span>Imprimer</span>
                    </button>
                </h5>
            </div>
        </div>

        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <div class="card">
                <div class="card-body">
                    <div></div>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.recu">Recu</strong> &nbsp;
                            <span>{{passeport.recu}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.nom">Nom</strong> &nbsp;
                            <span>{{passeport.nom}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.prenom">Prenom</strong> &nbsp;
                            <span>{{passeport.prenom}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.numeroPasseport">Numero Passeport</strong> &nbsp;
                            <span>{{passeport.numeroPasseport}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.neLe">Ne Le</strong> &nbsp;
                            <span>{{passeport.neLe | date:'mediumDate'}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.lieuNaissance">Lieu Naissance</strong> &nbsp;
                            <span>{{passeport.lieuNaissance}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.etatCivil">Etat Civil</strong> &nbsp;
                            <span jhiTranslate="{{'ambassadeApp.Statut.' + passeport.etatCivil}}">{{passeport.etatCivil}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.adresse">Adresse</strong> &nbsp;
                            <span>{{passeport.adresse}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.telephone">Telephone</strong> &nbsp;
                            <span>{{passeport.telephone}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.nif">Nif</strong> &nbsp;
                            <span>{{passeport.nif}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.paysEmetteur">Pays Emetteur</strong> &nbsp;
                            <span>{{passeport.paysEmetteur}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.soumisLe">Soumis Le</strong> &nbsp;
                            <span>{{passeport.soumisLe | date:'mediumDate'}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.delivreLe">Delivre Le</strong> &nbsp;
                            <span>{{passeport.delivreLe | date:'mediumDate'}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.dateExpiration">Date Expiration</strong> &nbsp;
                            <span>{{passeport.dateExpiration | date:'mediumDate'}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.dateEmission">Date Emission</strong> &nbsp;
                            <span>{{passeport.dateEmission | date:'mediumDate'}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.remarques">Remarques</strong> &nbsp;
                            <span>{{passeport.remarques}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.state">State</strong> &nbsp;
                            <span jhiTranslate="{{'ambassadeApp.State.' + passeport.state}}">{{passeport.state}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.typeService">Type Service</strong> &nbsp;
                            <div *ngIf="passeport.typeService">
                                <a [routerLink]="['/type-service', passeport.typeService?.id]">{{passeport.typeService?.nom}}</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.sms">Sms</strong> &nbsp;
                            <span>{{passeport.sms}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.taille">Taille</strong> &nbsp;
                            <span>{{passeport.taille}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.photo">Photo</strong> &nbsp;
                            <div *ngIf="passeport.photo">
                                <a (click)="openFile(passeport.photoContentType, passeport.photo)" jhiTranslate="entity.action.open">open</a>
                                {{passeport.photoContentType}}, {{byteSize(passeport.photo)}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-1">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.dateCreation">Date Creation</strong> &nbsp;
                            <span>{{passeport.dateCreation | date:'mediumDate'}}</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.createdBy">Created By</strong> &nbsp;
                            {{passeport.createdBy?.lastName}} {{passeport.createdBy?.firstName}}
                        </div>
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.dateModification">Date Modification</strong> &nbsp;
                            <span>{{passeport.dateModification | date:'mediumDate'}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <strong jhiTranslate="ambassadeApp.passeport.modifiedBy">modified By</strong> &nbsp;
                            {{passeport.modifiedBy?.lastName}} {{passeport.modifiedBy?.firstName}}
                        </div>
                    </div>
                </div>
            </div>
        </dl>
        <button type="button"
                (click)="previousState()"
                class="btn btn-info btn-xs">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button" *ngIf="passeport.state=='NOUVEAU'" [routerLink]="['../passeport', passeport.id, 'edit']"
                queryParamsHandling="merge" class="btn btn-primary btn-xs">
            <span class="fa fa-pencil"></span>&nbsp;
            <span jhiTranslate="entity.action.edit"> Edit</span>
        </button>
        <button type="button" *ngIf="passeport.state=='NOUVEAU'" class="btn btn-success btn-xs" (click)="create()">
            <span class="fa fa-money"></span>&nbsp;
            <span jhiTranslate="entity.action.payer"> Payer</span>
        </button>
        <button type="button" *ngIf="passeport.state=='PAYE'" class="btn btn-secondary btn-xs" (click)="create()">
            <span class="fa fa-money"></span>&nbsp;
            <span jhiTranslate="entity.action.encours"> En Cours</span>
        </button>
        <button type="button" *ngIf="passeport.state=='ENCOURS'" (click)="create()" class="btn btn-warning btn-xs">
            <span class="fa fa-money"></span>&nbsp;
            <span jhiTranslate="entity.action.pret"> Prêt</span>
        </button>
        <button type="button" *ngIf="passeport.state=='PRET'" (click)="create()" class="btn btn-danger btn-xs">
            <span class="fa fa-money"></span>&nbsp;
            <span jhiTranslate="entity.action.retirer"> Retirer</span>
        </button>
    </div>
</div>
