
<div *ngIf="caisse">
    <h2><span jhiTranslate="ambassadeApp.caisse.detail.title">Caisse</span> {{caisse.id}}</h2>
    <div class="title-bullet"><span></span></div>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.reference">Reference</label> : &nbsp;
                        <span>{{caisse.reference}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.dateDuJour">Date Du Jour</label> : &nbsp;
                        <span>{{caisse.dateDuJour | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.nom">Nom</label> : &nbsp;
                        <span>{{caisse.nom}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.prenom">Prenom</label> : &nbsp;
                        <span>{{caisse.prenom}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.typeID">Type ID</label> : &nbsp;
                        <span>{{caisse.typeID}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.numeroID">Numero ID</label> : &nbsp;
                        <span>{{caisse.numeroID}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.serviceConcerne">Service Concerne</label> : &nbsp;
                        <span>{{caisse.serviceConcerne}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.monnaie">Monnaie</label> : &nbsp;
                        <span>{{caisse.monnaie}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.monnaie">Monnaie</label> : &nbsp;
                        <span>{{caisse.monnaie}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.montant">Montant</label> : &nbsp;
                        <span>{{caisse.montant}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.dateRetour">Date Retour</label> : &nbsp;
                        <span>{{caisse.dateRetour | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.telephone">Telephone</label> : &nbsp;
                        <span>{{caisse.telephone}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.telephone">Telephone</label> : &nbsp;
                        <span>{{caisse.telephone}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.num">Num</label> : &nbsp;
                        <span>{{caisse.num}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.caisse.paiement">Paiement</label> : &nbsp;
                        <span>{{caisse.paiement}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-primary btn-sm">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'caisse/'+ caisse.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-blue pull-right btn-sm">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
