
<div *ngIf="rapatriement">
    <h2><span jhiTranslate="ambassadeApp.rapatriement.detail.title">Rapatriement</span> {{rapatriement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.reference">Reference</label> : &nbsp;
                        <span>{{rapatriement.reference}}</span>
                    </div>
                    <div class="row col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.numeroDossier">Numero Dossier</label> : &nbsp;
                        <span>{{rapatriement.numeroDossier}}</span>
                    </div>
                    <div class="row col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.nom">Nom</label> : &nbsp;
                        <span>{{rapatriement.nom}}</span>
                    </div>
                    <div class="row col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.prenom">Prenom</label> : &nbsp;
                        <span>{{rapatriement.prenom}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.dateNaissance">Date Naissance</label> : &nbsp;
                        <span>{{rapatriement.dateNaissance | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.documentID">Document ID</label> : &nbsp;
                        <span>{{rapatriement.documentID}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.sexe">Sexe</label> : &nbsp;
                        <span jhiTranslate="{{'ambassadeApp.Sexe.' + rapatriement.sexe}}">{{rapatriement.sexe}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.motif">Motif</label> : &nbsp;
                        <span>{{rapatriement.motif}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.dateRapatriement">Date Rapatriement</label> : &nbsp;
                        <span>{{rapatriement.dateRapatriement | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.frontiere">Frontiere</label> : &nbsp;
                        <span>{{rapatriement.frontiere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.documentScanne">Document Scanne</label>
                            <div *ngIf="rapatriement.documentScanne">
                                <a (click)="openFile(rapatriement.documentScanneContentType, rapatriement.documentScanne)" jhiTranslate="entity.action.open">open</a> : &nbsp;{{rapatriement.documentScanneContentType}}, {{byteSize(rapatriement.documentScanne)}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.rapatriement.createdByPHPRunner">Created By PHP Runner</label> : &nbsp;
                        <span>{{rapatriement.createdByPHPRunner}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rapatriement/'+ rapatriement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
