<jhi-page-ribbon></jhi-page-ribbon>
<jaspero-confirmations></jaspero-confirmations>
<main>
    <router-outlet name="navbar"></router-outlet>
    <section id="sidebar-content">
        <div class="container-fluid">
            <div class="row">
                <jhi-sidebar></jhi-sidebar>
                <div class="col-8 col-sm-10 col-md-10" id="page-content">
                    <div class="container-fluid mb-4">
                        <div class="row">
                            <div class="col-12" id="content">
                                <router-outlet></router-outlet>
                                <router-outlet name="popup"></router-outlet>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <jhi-footer></jhi-footer>
    </section>
</main>
