/* ==========================================================================
Navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/*
.jh-navbar {
    background-color: #353d47;
    padding: .2em 1em;
}

.jh-navbar .profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.jh-navbar .dropdown-item.active, .jh-navbar .dropdown-item.active:focus, .jh-navbar .dropdown-item.active:hover {
    background-color: #353d47;
}

.jh-navbar .dropdown-toggle::after {
    margin-left: 0.15em;
}

.jh-navbar ul.navbar-nav {
    padding: 0.5em;
}

.jh-navbar .navbar-nav .nav-item {
    margin-left: 1.5rem;
}

.jh-navbar a.nav-link {
    font-weight: 400;
}

.jh-navbar .jh-navbar-toggler {
    color: #ccc;
    font-size: 1.5em;
    padding: 10px;
}

.jh-navbar .jh-navbar-toggler:hover {
    color: #fff;
}
*/

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.logo-img {
    height: 100%;
    background: url("../../../content/images/coat-of-arms.png") no-repeat center center;
    background-size: contain;
    width: 100%;
}

/* ==========================================================================
Custom Haiti style template
========================================================================== */
.navbar .main-navbar {
    height: 100%!important;
}

.navbar .navbar-collapse .nav-item .nav-link {
    padding:10px 20px 10px 20px;
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:rgba(255,255,255,0.85);
}

.navbar .navbar-collapse .nav-item .nav-link:hover {
    color:#ffffff;
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:rgba(0,0,0,0.5);
    padding-left:20px;
    padding-right:20px;
}

.main-navbar .nav-link:hover {
    color:#ffffff;
    font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:rgba(0,0,0,0.5)!important;
}

.navbar .navbar-collapse .nav-item .nav-link {
    height:100%;
}

.navbar .navbar-collapse .main-navbar .nav-item .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
}

.plat {
    border-radius:0px;
}

.main-navbar li.nav-item a.nav-link {
    display:grid;
    text-align: center!important;
}

.main-navbar li.nav-item a.nav-link i {
    font-size:14px;
}

.main-navbar li.nav-item a.nav-link i.fa {
    margin-bottom: 2px;
}

.main-navbar li.nav-item a.nav-link span {
    font-size:14px;
}

.active {
    background-color:rgba(0,0,0,0.5)!important;
    height: 100%!important;
}

.dropdown-item {
    -moz-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition:opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}
