
<div *ngIf="livre">
    <h2><span jhiTranslate="ambassadeApp.livre.detail.title">Livre</span> {{livre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ambassadeApp.livre.codeISBN">Code ISBN</span></dt>
        <dd>
            <span>{{livre.codeISBN}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.auteur">Auteur</span></dt>
        <dd>
            <span>{{livre.auteur}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.titre">Titre</span></dt>
        <dd>
            <span>{{livre.titre}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.edition">Edition</span></dt>
        <dd>
            <span>{{livre.edition}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.etagere">Etagere</span></dt>
        <dd>
            <span>{{livre.etagere}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.annee">Annee</span></dt>
        <dd>
            <span>{{livre.annee}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.categorie">Categorie</span></dt>
        <dd>
            <span>{{livre.categorie}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.resume">Resume</span></dt>
        <dd>
            <span>{{livre.resume}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.quantite">Quantite</span></dt>
        <dd>
            <span>{{livre.quantite}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.disponible">Disponible</span></dt>
        <dd>
            <span>{{livre.disponible}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.page">Page</span></dt>
        <dd>
            <span>{{livre.page}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.consultation">Consultation</span></dt>
        <dd>
            <span>{{livre.consultation}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.origine">Origine</span></dt>
        <dd>
            <span>{{livre.origine}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.sousTitre">Sous Titre</span></dt>
        <dd>
            <span>{{livre.sousTitre}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.collection">Collection</span></dt>
        <dd>
            <span>{{livre.collection}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.impression">Impression</span></dt>
        <dd>
            <span>{{livre.impression}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.format">Format</span></dt>
        <dd>
            <span>{{livre.format}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.index">Index</span></dt>
        <dd>
            <span>{{livre.index}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.bibliographie">Bibliographie</span></dt>
        <dd>
            <span>{{livre.bibliographie}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.lieuEdition">Lieu Edition</span></dt>
        <dd>
            <span>{{livre.lieuEdition}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.lieuImpression">Lieu Impression</span></dt>
        <dd>
            <span>{{livre.lieuImpression}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.illustration">Illustration</span></dt>
        <dd>
            <span>{{livre.illustration}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.observation">Observation</span></dt>
        <dd>
            <span>{{livre.observation}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.prenom">Prenom</span></dt>
        <dd>
            <span>{{livre.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.statistique">Statistique</span></dt>
        <dd>
            <span>{{livre.statistique}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.livre.glossaire">Glossaire</span></dt>
        <dd>
            <span>{{livre.glossaire}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'livre/'+ livre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
