
<div *ngIf="livre">
    <div class="card" style="border-bottom: none!important;">
        <div class="card-body card-sm">
            <h5 class="text-uppercase">
                <span jhiTranslate="ambassadeApp.livre.detail.title">Livre</span> {{livre.id}}
            </h5>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card">
            <div class="card-body">
                <div></div>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.codeISBN">Code ISBN</strong> &nbsp;
                        <span>{{livre.codeISBN}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.auteur">Auteur</strong> &nbsp;
                        <span>{{livre.auteur}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.titre">Titre</strong> &nbsp;
                        <span>{{livre.titre}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.edition">Edition</strong> &nbsp;
                        <span>{{livre.edition}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.etagere">Etagere</strong> &nbsp;
                        <span>{{livre.etagere}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.annee">Annee</strong> &nbsp;
                        <span>{{livre.annee}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.categorie">Categorie</strong> &nbsp;
                        <span>{{livre.categorie}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.resume">Resume</strong> &nbsp;
                        <span>{{livre.resume}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.quantite">Quantite</strong> &nbsp;
                        <span>{{livre.quantite}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.disponible">Disponible</strong> &nbsp;
                        <span>{{livre.disponible}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.page">Page</strong> &nbsp;
                        <span>{{livre.page}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.consultation">Consultation</strong> &nbsp;
                        <span>{{livre.consultation}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.origine">Origine</strong> &nbsp;
                        <span>{{livre.origine}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.sousTitre">Sous Titre</strong> &nbsp;
                        <span>{{livre.sousTitre}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.collection">Collection</strong> &nbsp;
                        <span>{{livre.collection}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.impression">Impression</strong> &nbsp;
                        <span>{{livre.impression}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.format">Format</strong> &nbsp;
                        <span>{{livre.format}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.index">Index</strong> &nbsp;
                        <span>{{livre.index}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.bibliographie">Bibliographie</strong> &nbsp;
                        <span>{{livre.bibliographie}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.lieuEdition">Lieu Edition</strong> &nbsp;
                        <span>{{livre.lieuEdition}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.lieuImpression">Lieu Impression</strong> &nbsp;
                        <span>{{livre.lieuImpression}}</span>
                    </div>
                </div>
                <hr>
                <div class="row mb-1">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.illustration">Illustration</strong> &nbsp;
                        <span>{{livre.illustration}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.observation">Observation</strong> &nbsp;
                        <span>{{livre.observation}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.prenom">Prenom</strong> &nbsp;
                        <span>{{livre.prenom}}</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.statistique">Statistique</strong> &nbsp;
                        <span>{{livre.statistique}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.livre.glossaire">Glossaire</strong> &nbsp;
                        <span>{{livre.glossaire}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info btn-xs">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'livre/'+ livre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary btn-xs">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
