
<div *ngIf="donneesActe">
    <h2><span jhiTranslate="ambassadeApp.donneesActe.detail.title">Donnees Acte</span> {{donneesActe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.reference">Reference</label> : &nbsp;
                        <span>{{donneesActe.reference}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.dateDuJourChiffre">Date Du Jour Chiffre</label> : &nbsp;
                        <span>{{donneesActe.dateDuJourChiffre | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.registreSpecialRD">Registre Special RD</label> : &nbsp;
                        <span>{{donneesActe.registreSpecialRD}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.nomEnfant">Nom Enfant</label> : &nbsp;
                        <span>{{donneesActe.nomEnfant}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.registre">Registre</label> : &nbsp;
                        <span>{{donneesActe.registre}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.annee">Annee</label> : &nbsp;
                        <span>{{donneesActe.annee | date:'mediumDate'}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.numero">Numero</label> : &nbsp;
                        <span>{{donneesActe.numero}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.dateNaissanceChiffre">Date Naissance Chiffre</label> : &nbsp;
                        <span>{{donneesActe.dateNaissanceChiffre | date:'mediumDate'}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.nomPere">Nom Pere</label> : &nbsp;
                        <span>{{donneesActe.nomPere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.prenomPere">Prenom Pere</label> : &nbsp;
                        <span>{{donneesActe.prenomPere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.nomMere">Nom Mere</label> : &nbsp;
                        <span>{{donneesActe.nomMere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.prenomMere">Prenom Mere</label> : &nbsp;
                        <span>{{donneesActe.prenomMere}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.sexe">Sexe</label> : &nbsp;
                        <span jhiTranslate="{{'ambassadeApp.Sexe.' + donneesActe.sexe}}">{{donneesActe.sexe}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.statut">Statut</label> : &nbsp;
                        <span jhiTranslate="{{'ambassadeApp.Statut.' + donneesActe.statut}}">{{donneesActe.statut}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.villeNaissance">Ville Naissance</label> : &nbsp;
                        <span>{{donneesActe.villeNaissance}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.adressePere">Adresse Pere</label> : &nbsp;
                        <span>{{donneesActe.adressePere}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.adresseMere">Adresse Mere</label> : &nbsp;
                        <span>{{donneesActe.adresseMere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.temoins1">Temoins 1</label> : &nbsp;
                        <span>{{donneesActe.temoins1}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.temoins2">Temoins 2</label> : &nbsp;
                        <span>{{donneesActe.temoins2}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.idPere">Id Pere</label> : &nbsp;
                        <span>{{donneesActe.idPere}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.idMere">Id Mere</label> : &nbsp;
                        <span>{{donneesActe.idMere}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.notes">Notes</label> : &nbsp;
                        <span>{{donneesActe.notes}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.juridiction">Juridiction</label> : &nbsp;
                        <span>{{donneesActe.juridiction}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.livre">Livre</label> : &nbsp;
                        <span>{{donneesActe.livre}}</span>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.feuille">Feuille</label> : &nbsp;
                        <span>{{donneesActe.feuille}}</span>
                    </div>
                    <div class="col-md-3">
                        <label jhiTranslate="ambassadeApp.donneesActe.acte">Acte</label> : &nbsp;
                        <span>{{donneesActe.acte}}</span>
                    </div>
                    <div class="col-md-6">
                        <label jhiTranslate="ambassadeApp.donneesActe.photo">Photo</label> : &nbsp;
                        <span *ngIf="donneesActe.photo">
                            <a (click)="openFile(donneesActe.photoContentType, donneesActe.photo)" jhiTranslate="entity.action.open">open</a>
                            {{donneesActe.photoContentType}}, {{byteSize(donneesActe.photo)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'donnees-acte/'+ donneesActe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary pull-right">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
