
<div *ngIf="monnaie">
    <div class="card" style="border-bottom: none!important;">
        <div class="card-body card-sm">
            <h5 class="text-uppercase">
                <span jhiTranslate="ambassadeApp.monnaie.detail.title">Monnaie</span> {{monnaie.id}}
            </h5>
        </div>
    </div>

    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <div class="card">
            <div class="card-body">
                <div></div>
                <div class="row">
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.monnaie.type">Type</strong> : &nbsp;
                        <span>{{monnaie.type}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.monnaie.montant">Montant</strong> : &nbsp;
                        <span>{{monnaie.montant}}</span>
                    </div>
                    <div class="col-md-4">
                        <strong jhiTranslate="ambassadeApp.monnaie.produit">Produit</strong> : &nbsp;
                        <span>{{monnaie.produit}}</span>
                    </div>
                </div>
            </div>
        </div>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info btn-xs">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'monnaie/'+ monnaie.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary btn-xs">
        <span class="fa fa-pencil-square-o"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
