<div class="mb-lg-5">
    <h5 class="text-uppercase">
        <span jhiTranslate="ambassadeApp.visa.home.title">Visas</span>
        <button class="btn btn-blue btn-xs plat float-right jh-create-entity create-visa" [routerLink]="['/', { outlets: { popup: ['visa-new'] } }]">
            <span class="fa fa-pencil-square-o"></span>
            <span  jhiTranslate="ambassadeApp.visa.home.createLabel">Create new Visa</span>
        </button>&nbsp;
        <button *jhiHasAnyAuthority="['ROLE_VISA_MANAGER']"  (click)="printPage()" type="submit" [routerLink]="['../print']" class="float-right mr-5 btn btn-info btn-xs plat">
            <span class="fa fa-print"></span>
            <span>Imprimer</span>
        </button>
        <div class="title-bullet title-bullet-table"><span></span></div>
    </h5>
    <jhi-alert></jhi-alert>
    <div>
        <jhi-visa-search></jhi-visa-search>
    </div>
    <br/>
    <div *ngIf="visas">
        <table class="table table-striped dash-row table-sm">
            <thead class="theme-bg-blue text-white">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <!-- <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th> -->
                    <th jhiSortBy="nom"><span jhiTranslate="ambassadeApp.visa.nom">Nom</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="prenom"><span jhiTranslate="ambassadeApp.visa.prenom">Prenom</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="nationalite"><span jhiTranslate="ambassadeApp.visa.nationalite">Nationalite</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="numeroPasseport"><span jhiTranslate="ambassadeApp.visa.numeroPasseport">Numero Passeport</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="cedula"><span jhiTranslate="ambassadeApp.visa.cedula">Cedula</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="numeroVisa"><span jhiTranslate="ambassadeApp.visa.numeroVisa">Numero Visa</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="dateEmission"><span jhiTranslate="ambassadeApp.visa.dateEmission">Date Emission</span> <span class="fa fa-sort"></span></th>
                    <th jhiSortBy="dateExpiration"><span jhiTranslate="ambassadeApp.visa.dateExpiration">Date Expiration</span> <span class="fa fa-sort"></span></th>
                    <th><span jhiTranslate="ambassadeApp.passeport.typeService">TypeService</span> <span class="fa fa-sort"></span></th>
                    <th><span jhiTranslate="ambassadeApp.visa.state">État</span> <span class="fa fa-sort"></span></th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let visa of visas ;trackBy: trackId">
                    <td>{{visa.nom}}</td>
                    <td>{{visa.prenom}}</td>
                    <td>{{visa.nationalite}}</td>
                    <td>{{visa.numeroPasseport}}</td>
                    <td>{{visa.cedula}}</td>
                    <td>{{visa.numeroVisa}}</td>
                    <td>{{visa.dateEmission | date:'mediumDate'}}</td>
                    <td>{{visa.dateExpiration | date:'mediumDate'}}</td>
                    <td>{{visa.typeService.nom}}</td>
                    <td>{{visa.state}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    [routerLink]="['../visa', visa.id ]"
                                    class="btn btn-info btn-xs plat">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'visa/'+ visa.id + '/edit'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-xs plat"
                                    *ngIf="visa.state=='NOUVEAU'">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/', { outlets: { popup: 'visa/'+ visa.id + '/delete'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-xs plat">
                                <span class="fa fa-trash"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="visas && visas.length">
        <div class="row">
            <div class="col-6">
                <div class="text-sm">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
            </div>
            <div class="col-6">
                <div class="pagination-sm pull-right">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
