
<div *ngIf="visa">
    <h2><span jhiTranslate="ambassadeApp.visa.detail.title">Visa</span> {{visa.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ambassadeApp.visa.nom">Nom</span></dt>
        <dd>
            <span>{{visa.nom}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.prenom">Prenom</span></dt>
        <dd>
            <span>{{visa.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.nationalite">Nationalite</span></dt>
        <dd>
            <span>{{visa.nationalite}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.numeroPasseport">Numero Passeport</span></dt>
        <dd>
            <span>{{visa.numeroPasseport}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.cedula">Cedula</span></dt>
        <dd>
            <span>{{visa.cedula}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.numeroVisa">Numero Visa</span></dt>
        <dd>
            <span>{{visa.numeroVisa}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.dateEmission">Date Emission</span></dt>
        <dd>
            <span>{{visa.dateEmission | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.dateExpiration">Date Expiration</span></dt>
        <dd>
            <span>{{visa.dateExpiration | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.validePour">Valide Pour</span></dt>
        <dd>
            <span>{{visa.validePour}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.nombreEntree">Nombre Entree</span></dt>
        <dd>
            <span>{{visa.nombreEntree}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.type">Type</span></dt>
        <dd>
            <span>{{visa.type}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.categorie">Categorie</span></dt>
        <dd>
            <span>{{visa.categorie}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.taxes">Taxes</span></dt>
        <dd>
            <span>{{visa.taxes}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.adresse">Adresse</span></dt>
        <dd>
            <span>{{visa.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="ambassadeApp.visa.remarques">Remarques</span></dt>
        <dd>
            <span>{{visa.remarques}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'visa/'+ visa.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
