<form name="searchForm" role="form" novalidate (ngSubmit)="search()" #searchForm="ngForm">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           [(ngModel)]="formModel.nom" maxlength="60"/>
                    <div [hidden]="!(searchForm.controls.nom?.dirty && searchForm.controls.nom?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                            This field cannot be longer than 60 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           [(ngModel)]="formModel.prenom" maxlength="50"/>
                    <div [hidden]="!(searchForm.controls.prenom?.dirty && searchForm.controls.prenom?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.prenom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nationalite" for="field_nationalite">Nationalite</label>
                    <input type="text" class="form-control" name="nationalite" id="field_nationalite"
                           [(ngModel)]="formModel.nationalite" maxlength="50"/>
                    <div [hidden]="!(searchForm.controls.nationalite?.dirty && searchForm.controls.nationalite?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.nationalite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.numeroPasseport" for="field_numeroPasseport">Numero Passeport</label>
                    <input type="text" class="form-control" name="numeroPasseport" id="field_numeroPasseport"
                           [(ngModel)]="formModel.numeroPasseport" maxlength="30"/>
                    <div [hidden]="!(searchForm.controls.numeroPasseport?.dirty && searchForm.controls.numeroPasseport?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.numeroPasseport?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                            This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.cedula" for="field_cedula">Cedula</label>
                    <input type="text" class="form-control" name="cedula" id="field_cedula"
                           [(ngModel)]="formModel.cedula" maxlength="30"/>
                    <div [hidden]="!(searchForm.controls.cedula?.dirty && searchForm.controls.cedula?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.cedula?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                            This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.numeroVisa" for="field_numeroVisa">Numero Visa</label>
                    <input type="number" class="form-control" name="numeroVisa" id="field_numeroVisa"
                           [(ngModel)]="formModel.numeroVisa" />
                    <div [hidden]="!(searchForm.controls.numeroVisa?.dirty && searchForm.controls.numeroVisa?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.numeroVisa?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.numeroVisa?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.dateEmissionSearch" for="field_dateEmission">Date Emission</label>
                    <div class="input-group">
                        <input id="field_dateEmission" type="text" class="form-control" name="dateEmission" ngbDatepicker  #dateEmissionDp="ngbDatepicker" [(ngModel)]="formModel.dateEmission"
                        />
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateEmissionDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entity.action.and" for="field_dateEmissionFin">Date Emission</label>
                    <div class="input-group">
                        <input id="field_dateEmissionFin" type="text" class="form-control" name="dateEmissionFin" ngbDatepicker  #dateEmissionDp="ngbDatepicker" [(ngModel)]="formModel.dateEmissionFin"
                        />
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateEmissionDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.dateExpirationSearch" for="field_dateExpiration">Date Expiration</label>
                    <div class="input-group">
                        <input id="field_dateExpiration" type="text" class="form-control" name="dateExpiration" ngbDatepicker  #dateExpirationDp="ngbDatepicker" [(ngModel)]="formModel.dateExpiration"
                        />
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateExpirationDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="entity.action.and" for="field_dateExpirationFin">Date Expiration</label>
                    <div class="input-group">
                        <input id="field_dateExpirationFin" type="text" class="form-control" name="dateExpirationFin" ngbDatepicker  #dateExpirationDp="ngbDatepicker" [(ngModel)]="formModel.dateExpirationFin"
                        />
                        <span class="input-group-append">
                        <button type="button" class="btn btn-secondary" (click)="dateExpirationDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.validePour" for="field_validePour">Valide Pour</label>
                    <input type="number" class="form-control" name="validePour" id="field_validePour"
                           [(ngModel)]="formModel.validePour" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nombreEntree" for="field_nombreEntree">Nombre Entree</label>
                    <input type="text" class="form-control" name="nombreEntree" id="field_nombreEntree"
                           [(ngModel)]="formModel.nombreEntree" maxlength="20"/>
                    <div [hidden]="!(searchForm.controls.nombreEntree?.dirty && searchForm.controls.nombreEntree?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.nombreEntree?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                            This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           [(ngModel)]="formModel.type" maxlength="20"/>
                    <div [hidden]="!(searchForm.controls.type?.dirty && searchForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.type?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                            This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.categorie" for="field_categorie">Categorie</label>
                    <input type="text" class="form-control" name="categorie" id="field_categorie"
                           [(ngModel)]="formModel.categorie" maxlength="25"/>
                    <div [hidden]="!(searchForm.controls.categorie?.dirty && searchForm.controls.categorie?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.categorie?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 25 }">
                            This field cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.taxes" for="field_taxes">Taxes</label>
                    <input type="number" class="form-control" name="taxes" id="field_taxes"
                           [(ngModel)]="formModel.taxes" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.adresse" for="field_adresse">Adresse</label>
                    <input type="text" class="form-control" name="adresse" id="field_adresse"
                           [(ngModel)]="formModel.adresse" maxlength="30"/>
                    <div [hidden]="!(searchForm.controls.adresse?.dirty && searchForm.controls.adresse?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!searchForm.controls.adresse?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                            This field cannot be longer than 30 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ambassadeApp.visa.remarques" for="field_remarques">Remarques</label>
                    <input type="text" class="form-control" name="remarques" id="field_remarques"
                           [(ngModel)]="formModel.remarques" />
                </div>
            </div>
            <!--<div class="col-md-3">-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
            <!--</div>-->
        </div>
    </div>

    <div class="modal-footer">
        <button type="reset" class="btn btn-sm btn-danger" data-dismiss="modal" (click)="search()">
            <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>&nbsp;
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Save</span>
        </button>
    </div>
</form>
