<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <!-- <div class="modal-header">
        <h4 class="modal-title" id="myVisaLabel" jhiTranslate="ambassadeApp.visa.home.createOrEditLabel">Create or edit a Visa</h4> -->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"-->
                <!--(click)="clear()">&times;</button>-->
    <!-- </div> -->

    <div class="card">
        <div class="card-header bg-violet">
            <h4 class="modal-title text-uppercase text-white" id="myVisaLabel" jhiTranslate="ambassadeApp.visa.home.createOrEditLabel">Create or edit a Visa</h4>
        </div>
        <div class="card-body">
            <jhi-alert-error></jhi-alert-error>
            <!-- <div class="row">
                <div class="col-md-3">
                    <div class="form-group" [hidden]="!visa.id">
                        <label for="id" jhiTranslate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                                [(ngModel)]="visa.id" readonly />
                    </div>
                </div>
            </div> -->
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nom" for="field_nom">Nom</label>
                        <input type="text" class="form-control form-control-sm" name="nom" id="field_nom"
                                [(ngModel)]="visa.nom" maxlength="60"/>
                        <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.nom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                                This field cannot be longer than 60 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.prenom" for="field_prenom">Prenom</label>
                        <input type="text" class="form-control form-control-sm" name="prenom" id="field_prenom"
                                [(ngModel)]="visa.prenom" maxlength="50"/>
                        <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.prenom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nationalite" for="field_nationalite">Nationalite</label>
                        <input type="text" class="form-control form-control-sm" name="nationalite" id="field_nationalite"
                                [(ngModel)]="visa.nationalite" maxlength="50"/>
                        <div [hidden]="!(editForm.controls.nationalite?.dirty && editForm.controls.nationalite?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.nationalite?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.numeroPasseport" for="field_numeroPasseport">Numero Passeport</label>
                        <input type="text" class="form-control form-control-sm" name="numeroPasseport" id="field_numeroPasseport"
                                [(ngModel)]="visa.numeroPasseport" maxlength="30"/>
                        <div [hidden]="!(editForm.controls.numeroPasseport?.dirty && editForm.controls.numeroPasseport?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.numeroPasseport?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.adresse" for="field_adresse">Adresse</label>
                        <input type="text" class="form-control form-control-sm" name="adresse" id="field_adresse"
                                [(ngModel)]="visa.adresse" maxlength="30"/>
                        <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.adresse?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.profession" for="field_profession">Profession</label>
                        <input type="text" class="form-control form-control-sm" name="profession" id="field_profession"
                                [(ngModel)]="visa.profession" />
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.email" for="field_email">Email</label>
                        <input type="text" class="form-control form-control-sm" name="email" id="field_email"
                                [(ngModel)]="visa.email" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nombreDeJour" for="field_nombreDeJour">Nombre De Jour</label>
                        <input type="number" class="form-control form-control-sm" name="nombreDeJour" id="field_nombreDeJour"
                                [(ngModel)]="visa.nombreDeJour" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.cedula" for="field_cedula">Cedula</label>
                        <input type="text" class="form-control form-control-sm" name="cedula" id="field_cedula"
                                [(ngModel)]="visa.cedula" maxlength="30"/>
                        <div [hidden]="!(editForm.controls.cedula?.dirty && editForm.controls.cedula?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!editForm.controls.cedula?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.dateEmission" for="field_dateEmission">Date Emission</label>
                        <div class="input-group">
                            <input id="field_dateEmission" type="text" class="form-control form-control-sm" name="dateEmission" ngbDatepicker  #dateEmissionDp="ngbDatepicker" [(ngModel)]="visa.dateEmission"
                            />
                            <span class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="dateEmissionDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.dateExpiration" for="field_dateExpiration">Date Expiration</label>
                        <div class="input-group">
                            <input id="field_dateExpiration" type="text" class="form-control form-control-sm" name="dateExpiration" ngbDatepicker  #dateExpirationDp="ngbDatepicker" [(ngModel)]="visa.dateExpiration"
                            />
                            <span class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="dateExpirationDp.toggle()"><i class="fa fa-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.taxes" for="field_taxes">Taxes</label>
                        <input type="number" class="form-control form-control-sm" name="taxes" id="field_taxes"
                                [(ngModel)]="visa.taxes" />
                    </div>
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.photoDemandeurVisa" for="field_photoDemandeurVisa">Photo Demandeur Visa</label>
                        <div>
                            <img [src]="'data:' + visa.photoDemandeurVisaContentType + ';base64,' + visa.photoDemandeurVisa" style="max-height: 100px;" *ngIf="visa.photoDemandeurVisa" alt="visa image"/>
                            <div *ngIf="visa.photoDemandeurVisa" class="form-text text-danger clearfix">
                                <span class="pull-left">{{visa.photoDemandeurVisaContentType}}, {{byteSize(visa.photoDemandeurVisa)}}</span>
                                <button type="button" (click)="clearInputImage('photoDemandeurVisa', 'photoDemandeurVisaContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                    <span class="fa fa-times"></span>
                                </button>
                            </div>
                            <input type="file" id="file_photoDemandeurVisa" (change)="setFileData($event, visa, 'photoDemandeurVisa', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                        </div>
                        <input type="hidden" class="form-control form-control-sm" name="photoDemandeurVisa" id="field_photoDemandeurVisa"
                                [(ngModel)]="visa.photoDemandeurVisa" />
                        <input type="hidden" class="form-control form-control-sm" name="photoDemandeurVisaContentType" id="field_photoDemandeurVisaContentType"
                                [(ngModel)]="visa.photoDemandeurVisaContentType" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.typeService" for="field_typeService">Type Service</label>
                        <select class="form-control form-control-sm" id="field_typeService" name="typeService" [(ngModel)]="visa.typeService" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="typeServiceOption.id === visa.typeService?.id ? visa.typeService : typeServiceOption" *ngFor="let typeServiceOption of typeservices; trackBy: trackTypeServiceById">{{typeServiceOption.nom}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.typeEntree" for="field_typeEntree">Type Entree</label>
                        <select class="form-control form-control-sm" id="field_typeEntree" name="typeEntree" [(ngModel)]="visa.typeEntree"  required>
                            <option *ngIf="!editForm.value.typeEntree" [ngValue]="null" selected></option>
                            <option [ngValue]="typeEntreeOption.id === visa.typeEntree?.id ? visa.typeEntree : typeEntreeOption" *ngFor="let typeEntreeOption of typeentrees; trackBy: trackTypeEntreeById">{{typeEntreeOption.libelle}}</option>
                        </select>
                    </div>
                    <div [hidden]="!(editForm.controls.typeEntree?.dirty && editForm.controls.typeEntree?.invalid)">
                        <small class="form-text text-danger"
                                [hidden]="!editForm.controls.typeEntree?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.categorie" for="field_categorie">Categorie</label>
                        <select class="form-control form-control-sm" id="field_categorie" name="categorie" [(ngModel)]="visa.categorie" >
                            <option [ngValue]="null"></option>
                            <option [ngValue]="categorieOption.id === visa.categorie?.id ? visa.categorie : categorieOption" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.nomCategorie}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nomEmployeur" for="field_nomEmployeur">Nom Employeur</label>
                        <input type="text" class="form-control form-control-sm" name="nomEmployeur" id="field_nomEmployeur"
                            [(ngModel)]="visa.nomEmployeur" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.adresseEmployeur" for="field_adresseEmployeur">Adresse Employeur</label>
                        <input type="text" class="form-control form-control-sm" name="adresseEmployeur" id="field_adresseEmployeur"
                            [(ngModel)]="visa.adresseEmployeur" />
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4 info-empl">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ambassadeApp.visa.telephoneEmployeur" for="field_telephoneEmployeur">Telephone Employeur</label>
                            <input type="text" class="form-control form-control-sm" name="telephoneEmployeur" id="field_telephoneEmployeur"
                                    [(ngModel)]="visa.telephoneEmployeur" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ambassadeApp.visa.emailEmployeur" for="field_emailEmployeur">Email Employeur</label>
                            <input type="text" class="form-control form-control-sm" name="emailEmployeur" id="field_emailEmployeur"
                                    [(ngModel)]="visa.emailEmployeur" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.remarques" for="field_remarques">Remarques</label>
                        <textarea cols="50" rows="5" class="form-control form-control-sm" name="remarques" id="field_remarques"
                                    [(ngModel)]="visa.remarques">{{visa.remarques}}</textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.adresseDeSejour" for="field_adresseDeSejour">Adresse De Sejour</label>
                        <textarea cols="50" rows="5" class="form-control form-control-sm" name="adresseDeSejour" id="field_adresseDeSejour"
                                [(ngModel)]="visa.adresseDeSejour">{{visa.adresseDeSejour}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-sm btn-primary pull-right">
                        <span class="fa fa-download"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger mr-4 pull-right" (click)="previousState()">
                        <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
