<form name="searchForm" role="form" novalidate (ngSubmit)="search()" #searchForm="ngForm">
    <div class="card plat">
        <div class="card-body plat">
            <div></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.nom"
                               for="field_nom">Nom</label>
                        <input type="text" class="form-control form-control-sm" name="nom" id="field_nom"
                               [(ngModel)]="formModel.nom" maxlength="60"/>
                        <div [hidden]="!(searchForm.controls.nom?.dirty && searchForm.controls.nom?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!searchForm.controls.nom?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                                This field cannot be longer than 60 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.prenom" for="field_prenom">Prenom</label>
                        <input type="text" class="form-control form-control-sm" name="prenom" id="field_prenom"
                               [(ngModel)]="formModel.prenom" maxlength="50"/>
                        <div [hidden]="!(searchForm.controls.prenom?.dirty && searchForm.controls.prenom?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!searchForm.controls.prenom?.errors?.maxlength"
                                   jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.numeroVisa"
                               for="field_numeroVisa">Numero Visa</label>
                        <input type="number" class="form-control form-control-sm" name="numeroVisa"
                               id="field_numeroVisa"
                               [(ngModel)]="formModel.numeroVisa"/>
                        <div
                            [hidden]="!(searchForm.controls.numeroVisa?.dirty && searchForm.controls.numeroVisa?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!searchForm.controls.numeroVisa?.errors?.required"
                                   jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!searchForm.controls.numeroVisa?.errors?.number"
                                   jhiTranslate="entity.validation.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.numeroPasseport"
                                for="field_numeroPasseport">Numero Passeport</label>
                        <input type="text" class="form-control form-control-sm" name="numeroPasseport"
                                id="field_numeroPasseport"
                                [(ngModel)]="formModel.numeroPasseport" maxlength="30"/>
                        <div
                            [hidden]="!(searchForm.controls.numeroPasseport?.dirty && searchForm.controls.numeroPasseport?.invalid)">
                            <small class="form-text text-danger"
                                    [hidden]="!searchForm.controls.numeroPasseport?.errors?.maxlength"
                                    jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                                This field cannot be longer than 30 characters.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.dateEmissionSearch"
                                for="field_dateEmission">Date Emission</label>
                        <div class="input-group">
                            <input id="field_dateEmission" type="text" class="form-control form-control-sm"
                                    name="dateEmission" ngbDatepicker #dateEmissionDp="ngbDatepicker"
                                    [(ngModel)]="formModel.dateEmission"
                            />
                            <span class="input-group-append">
                        <button type="button" class="btn btn-sm btn-blue" (click)="dateEmissionDp.toggle()"><i
                            class="fa fa-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="entity.action.and" for="field_dateEmissionFin">Date
                            Emission</label>
                        <div class="input-group">
                            <input id="field_dateEmissionFin" type="text" class="form-control form-control-sm"
                                    name="dateEmissionFin" ngbDatepicker #dateEmissionFinDp="ngbDatepicker"
                                    [(ngModel)]="formModel.dateEmissionFin"
                            />
                            <span class="input-group-append">
                        <button type="button" class="btn btn-sm btn-blue" (click)="dateEmissionFinDp.toggle()"><i
                            class="fa fa-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.passeport.typeService"
                               for="field_typeService">Type Service</label>
                        <select class="form-control form-control-sm" id="field_typeService" name="typeService"
                                [(ngModel)]="formModel.typeService">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="typeServiceOption.id === formModel.typeService  ? formModel.typeService : typeServiceOption.id"
                                *ngFor="let typeServiceOption of typeservices; trackBy: trackTypeServiceById">
                                {{typeServiceOption.nom}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control-label" jhiTranslate="ambassadeApp.visa.categorie"
                               for="field_categorie">categorie</label>
                        <select class="form-control form-control-sm" id="field_categorie" name="categorie"
                                [(ngModel)]="formModel.categorie">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="categorieOption.id === formModel.categorie  ? formModel.categorie : categorieOption.id"
                                *ngFor="let categorieOption of categories; trackBy: trackCategorieById">
                                {{categorieOption.nomCategorie}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row justify-content-end mr-1">
                        <button type="reset" class="btn btn-danger btn-sm mr-4" data-dismiss="modal" (click)="searchReset()">
                            <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>&nbsp;
                        <button type="submit" class="btn btn-primary btn-sm">
                            <span class="fa fa-search"></span>&nbsp;<span jhiTranslate="entity.action.search">Search</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
